* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    box-sizing: border-box;
}
*::after,
*::before {
    box-sizing: border-box;
}
ul,
ol {
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
body {
    background-color: #f6f8fa;
}

.globeheader,
.globefooter {
    display: flex;
    padding: 10px;
    background-color: #24292f;
    color: #ffffff;
    box-shadow: 0 1rem 3rem rgb(31 45 61 / 13%);
}
.globeheader {
    justify-content: space-between;
}

.globefooter {
    justify-content: center;
}
.globefooter a {
    color: #d99196;
}
.fixed-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.globeheader .icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    /* 功能没实现 隐藏*/
    color: #24292f;
}
.search {
    width: 75%;
    height: 40px;
    margin: 75px auto;
}
.search #searchform {
    font-size: inherit;
    height: 100%;
    display: flex;
}
@media (min-width: 500px) {
    .search {
        width: 40%;
        margin: 50px auto;
    }
}
.search #searchtext {
    -webkit-appearance: none;
    text-indent: 1em;
    font-size: inherit;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    box-shadow: 0 1rem 3rem rgb(31 45 61 / 13%);
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}
.search button {
    padding: 0.5em 1em;
    border: none;
    color: white;
    font-size: inherit;
    background-color: #24292f;
    white-space: nowrap;
    border-radius: 10%;
    box-shadow: 0 1rem 3rem rgb(31 45 61 / 13%);
}
.webclt {
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0 1rem 3rem rgb(31 45 61 / 13%);
    color: #24292f;
}
li {
    position: relative;
    width: 40vw;
    height: 40vw;
    margin: 5vw;
    box-shadow: 0 1rem 3rem rgb(31 45 61 / 13%);
    border-radius: 10%;
    overflow: hidden;
}
@media (min-width: 500px) {
    .webclt {
        margin: 0 auto;
        width: 80vw;
    }
    li {
        width: 16vw;
        height: 16vw;
        margin: 2vw;
    }
}
.webclt li a {
    color: #24292f;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.webclt .icon {
    width: 75%;
    height: 75%;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}
.modaldisabled {
    display: none;
}
.modal .cover {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 9999;
}
.modal .mdialog {
    position: absolute;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 40vw;
    width: 80vw;
    border-radius: 10px;
    background: white;
    font-size: 20px;
    box-shadow: 0 1rem 3rem rgb(31 45 61 / 13%);
}
@media (min-width: 500px) {
    .modal .mdialog {
        height: 200px;
        width: 400px;
    }
}
.modal .mdialog input {
    width: 80%;
    height: 40px;
    font-size: 20px;
    text-align: center;
    outline: none;
}
.modal .mdialog .btn {
    width: 80%;
}
.modal .mdialog button {
    background-color: #24292f;
    color: white;
    font-size: 20px;
    width: 49%;
    height: 40px;
    border: none;
}
.webclt .iconclose {
    width: 2em;
    height: 2em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    color: #24292f;
}

@media (min-width: 500px) {
    .webclt .iconclose {
        width: 2.5em;
        height: 2.5em;
        vertical-align: -0.15em;
        fill: currentColor;
        overflow: hidden;
        color: #24292f;
    }
}
li .close {
    display: none;
    position: absolute;
    right: 3px;
    top: 5px;
    cursor: default;
}
li:hover .close {
    display: block;
}
